/* main.css */

#indicator {
    all: initial;
    position: fixed;
    top: -2px;
    right: 18%;
    color: black;
    background: #d8d8d8c2;
    height: 1em;
    width: 2.1em;
    padding-bottom: .3em;
    border-bottom-left-radius: .9em;
    border-bottom-right-radius: .9em;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.3rem, 1.15vw, 10rem);
    user-select: none;
    z-index: 99999 !important;
}

#indicator:hover {
    color: white;
    background: #121212c2;
    height: 1.05em;
    padding-bottom: .33em;
    font-size: clamp(1.35rem, 1.18vw, 10rem);
    border-right: 1px solid #d8d8d8c2;
    border-left: 1px solid #d8d8d8c2;
    border-bottom: 1px solid #d8d8d8c2;
}
